<%= form_with model: path do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>

  <%= form.submit %>
<% end %>
