<%= form_with url: sessions_path, locale: true do |form| %>
  <%= flash_auth_warning %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password , id: :user_password%>
  </p>
  <br>

  <%= form.submit 'Enter'%>
<% end %>
