<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- Brand-->
    <%= link_to t('.title'), root_path, class: 'navbar-brand mb-0 h1' %>
    <!-- Brand-->

    <!--Menu-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user&.is_a?(Admin) %>
          <!--Admin Menu-->
          <li class="nav-item">
            <%= link_to t('.admin_panel'), admin_tests_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to t('.gists'), admin_gists_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to t('.badges'), admin_badges_path, class: 'nav-link active' %>
          </li>
          <!--Admin Menu-->
        <% elsif user_signed_in?%>
          <!--User Menu-->
          <li class="nav-item">
            <%= link_to t('.badges'), badges_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to t('.feedback'), new_feedback_path, class: 'nav-link active' %>
          </li>
          <!--User Menu-->
        <% end %>
      </ul>
    </div>
    <!--Menu-->

    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= t('.welcome') %>, <b class="nav-user user-email"><%= current_user.full_name %></b> Guru |
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% elsif devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to t('.signup'), new_user_registration_path %>
      <% else controller_name != 'sessions'%>
        <%= link_to t('.login'), new_user_session_path %>
      <% end %>
    </span>
  </div>
</nav>
<!--Navbar-->
