<div class="mt-3">
  <!--Header-->
  <h2 class="text-center">
    <%= t('.header', title: @result.test.title) %>
  </h2>

  <!--Progress Bar-->
  <div class="progress mt-3">
    <div class="progress-bar"
         role="progressbar"
         style="width: 100%">
      100%
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-4 card border-primary">
      <!--Card body-->
      <div class="card-body text-center">
        <%= result_info(@result) %>
        <br>
        <%= t('.your_score') %>
        <span class=<%= pass_percentage_color(@result) %>> <%= @result.pass_percentage %>%</span>
      </div>

      <!--Card footer-->
      <div class="card-footer row">
        <div class="text-center m-2">
          <%= link_to t('.tests_list'),
                      tests_path,
                      class: 'btn btn-outline-primary fw-bold ' %>
        </div>
      </div>
    </div>
  </div>
</div>
