<h1><%= t('.header', title: @result.test.title) %></h1>
<p>
  <%= result_info(@result) %>
  <%= t('.your_score') %>
  <span class=<%= pass_percentage_color(@result) %>> <%= @result.pass_percentage %>%</span>
</p><br>

<p><%= link_to t('.tests_list'), tests_path %></p>
