<div class="mt-3">
  <!--Header-->
  <h2 class="text-center">
    <%= t('.header', title: @result.test.title) %>
  </h2>

  <!--Progress Bar-->
  <div class="progress mt-3">
    <div class="progress-bar test-progress-bar"
         role="progressbar"
         style="width: 0">
      0%
    </div>
  </div>

  <!--Timer-->
  <% if @result.test.timer %>
    <div class="mt-3 text-center test-timer">
      <%= timer_set(@result.time_left) %>
    </div>
  <% end %>

  <div class="row justify-content-center mt-3">

    <div class="col-md-4 card border-primary">
      <!--Card header-->
      <div class="card-header row">
        <div class="text-center fw-bold">
          № <%= @result.test.questions.index(@result.current_question) + 1 %>
          из <%= @result.test.questions.count %>.
        </div>

        <div class="mt-2">
          <%= @result.current_question.body %>
        </div>
      </div>

      <!--Card body-->
      <%= form_with url: result_path(@result),
                    local: true,
                    data: {
                      question_index: @result.test.questions.index(@result.current_question),
                      questions_count: @result.test.questions.count
                    },
                    method: :put do |form| %>
        <div class="card-body">
          <%= form.collection_check_boxes :answer_ids,
                                          @result.current_question.answers,
                                          :id,
                                          :body,
                                          include_hidden: false do |b| %>
            <div class="mt-2">
              <%= b.check_box id: "answer_ids_#{b.object_id}" %>
              <%= b.label %>
            </div>
          <% end %>
        </div>

        <!--Card footer-->
        <div class="card-footer row">
          <div class="mt-2 text-center">
            <%= form.submit t('helpers.buttons.next'),
                            id: 'send-answer',
                            class: 'btn btn-primary btn-lg' %>
          </div>

          <div class="mt-2 text-center">
            <%= link_to 'Gist Question',
                        result_gists_path(@result),
                        class: 'btn btn-outline-primary btn-sm fw-bold ',
                        method: :post %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
