<tr>
  <td id="row-number" class="align-middle"><%= @tests.index(test) + 1 %></td>
  <td id="title" class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= author_name(test) %></td>
  <td class="align-middle">
    <%= button_to t('helpers.buttons.show'),
                  admin_test_path(test),
                  class: "btn btn-outline-primary fw-bold",
                  method: :get %>
  </td>
  <td class="align-middle">
    <%= button_to t('helpers.buttons.edit'),
                  edit_admin_test_path(test),
                  data: { test_id: test.id },
                  class: 'form-inline-link btn btn-outline-primary fw-bold',
                  method: :get %>
  </td>
  <td class="align-middle">
    <%= button_to t('helpers.buttons.delete'),
                  admin_test_path(test),
                  :method => :delete,
                  class: "btn btn-outline-primary fw-bold",
                  data: { confirm: t('.confirm') }%>
  </td>
</tr>
