<tr>
  <td><%= @tests.index(test) + 1 %></td>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= author_name(test) %></td>
  <td><%= button_to t('helpers.buttons.show'),
                    admin_test_path(test),
                    method: :get %>
  </td>
  <td><%= button_to t('helpers.buttons.edit'),
                    edit_admin_test_path(test),
                    method: :get %>
  </td>
  <td><%= button_to t('helpers.buttons.delete'),
                  admin_test_path(test),
                  :method => :delete,
                  data: { confirm: t('.confirm') }%>
  </td>
</tr>
