<h1><%= t('.header') %></h1>
<p>
  <strong><%= t('activerecord.attributes.test.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.level') %>:</strong>
  <%= test_level(@test) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.category_id') %>:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.author_id') %>:</strong>
  <%= author_name(@test) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.timer') %>:</strong>
  <%= @test.timer %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.time') %>:</strong>
  <%= @test.time %>
</p>

<%= link_to t('helpers.buttons.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('helpers.buttons.back'), admin_tests_path %>
<br>

<h2><%= t('.questions') %></h2>
<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th>№</th>
    <th><%= t('activerecord.attributes.question.body') %></th>
    <th><%= t('.answers_count') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render @test.questions %>
</table>
