<tr>
  <td id="row-number"><%= @tests.index(test) + 1 %></td>
  <td id="title"><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= author_name(test) %></td>
  <td>
    <%= button_to t('.start'), start_test_path(test),
                  type: "button",
                  class: "btn btn btn-outline-primary btn-sm fw-bold"%>
  </td>
</tr>
