<tr>
  <td><%= @tests.index(test) + 1 %></td>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= author_name(test) %></td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
