<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav user'>
      <%= link_to 'TestGuru', root_path %>
      ||
      <% if logged_in? %>
          Welcome, <b><%= current_user.full_name %></b> Guru
          || <%= link_to 'Logout', logout_path, :method => :delete %>
      <% elsif request.path == '/login' %>
          <%= link_to 'Registration', signup_path %>
      <% else %>
          <%= link_to 'Login', login_path %>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
